.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-width: 600px;
}

.alice-btn {
    background-color: #555555;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: 16px;
    margin: 2px;
    cursor: pointer;
}

.alice-btn-selected {
    background-color: #dddddd;
    color: black;
    font-weight: bold;
}
